.error-dg{
   background-color: antiquewhite;
   margin: 120px;
   padding: 120px;
   border-radius: 40px;
}
.error-dg h1{
    text-align: center;
}
.i-set{
    font-size: 120px;
    color: yellow;
    background-color: black;
    border: 3px solid red;
    border-radius: 100%;
    
}