.header-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: aliceblue;
    width: 100%;
    height: 100px;
}
.btn-container{
    display: flex;
    justify-content:space-between ;
    padding: 12px;
    margin-right: 100px;
    margin-top: 20px;
    
}
.link{
    text-decoration: none;
    font-size: 20px;
    color: blue;

}
.link:hover{
    color: brown;
}
.header img{
width: 45px;
margin-left: 100px;
}
.header h1{
    font-size: 20px;
    margin-left: 100px;
}
.header{
    padding: 6px;
}
